// FOOTER
.footer{
    background: $color-gumental;
    width: 100%;
    height: min-content;
    padding: 60px 0px;
    &__cont{
        width: 80%;
        margin: auto;
        display: flex;
        gap: 60px;

        div{
            display: flex;
            ul{
                flex-direction: column;             
                li{
                    font-size: 1rem;
                    color: $color-blanco;
                    a{
                        font-size: 1rem;
                        color: $color-blanco;
                        padding: 0px 10px;
                        &:hover{
                            color: $color-rojocla;
                            border-bottom: 2px solid;
                        }
                    }
                }
            }
        }
        &Info{
            flex-direction: column;
            a{
                img{
                    width: 300px;
                }
                margin-bottom: 20px;
            }
            ul{
                gap: 5px;
            }
        }
        &Nave{
            width: 100%;
            justify-content: space-evenly;
            ul{
                li:first-child{
                    margin-bottom: 10px;
                }   
                gap: 8px;
            }
        }
    }
    hr{
        width: 90%;
        margin: 25px auto;
    }
    &__copy{
        width: 80%;
        margin: auto;
        justify-content: space-between;
        li{
            font-weight: 600;
            color: $color-blanco;
            a{
                font-weight: 600;
                color: $color-blanco;
            }
        }
    }
}
// FIN FOOTER