---
import Logo from "./Logo.astro";


---

<footer class="footer">
  <section class="footer-section">
    <div class="footer-column">
      <a href="" class="footer-logo">
        <Logo color="black" />
      </a>
      <ul class="footer-list">
        <li class="footer-item">
          <i class="fa-solid fa-phone-volume"></i> 11 4957-2920
        </li>
        <li class="footer-item">
          <i class="fa-solid fa-envelope"></i> regencia@tecnica29de6.edu.ar
        </li>
        <li class="footer-item">
          <a href="" class="footer-social-link">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="" class="footer-social-link">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="" class="footer-social-link">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-column footer-column-links">
      <ul class="footer-list">
        <li class="footer-item">
          <h3 class="footer-heading">INSTITUCIONAL</h3>
        </li>
        <li class="footer-item">
          <a href="" class="footer-link">Historia</a>
        </li>
        <li class="footer-item">
          <a href="" class="footer-link">Autoridades</a>
        </li>
        <li class="footer-item">
          <a href="https://chautabu.buenosaires.gob.ar/" class="footer-link"
            >E.S.I.</a
          >
        </li>
        <li class="footer-item">
          <a href="" class="footer-link">Centro de Estudiantes</a>
        </li>
      </ul>
      <ul class="footer-list">
        <li class="footer-item">
          <h3 class="footer-heading">ESPECIALIDADES</h3>
        </li>
        <li class="footer-item">
          <a href="" class="footer-link">Computación</a>
        </li>
        <li class="footer-item">
          <a href="" class="footer-link">Electricidad</a>
        </li>
        <li class="footer-item">
          <a href="" class="footer-link">Mecánica</a>
        </li>
      </ul>
    </div>
  </section>
  <hr class="footer-divider" />
  <ul class="footer-bottom">
    <li class="footer-bottom-item">
      <a href="" class="footer-link"
        >Boedo 760 - Ciudad Autónoma de Buenos Aires</a
      >
    </li>
    <li class="footer-bottom-item">
      E.T. N°29 DE N°6 © 2023 by <a href="" class="footer-link">Jairo Tumiri</a
      >
    </li>
  </ul>
</footer>

<style>
  .footer {
    background-color: var(--color-8);
    padding: 3rem 5rem;
    font-size: 14px;
    color: var(--color-7);
    font-family: "Poppins", sans-serif;
  }

  .footer-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer-column {
    flex: 1;
    margin-bottom: 30px;
  }

  .footer-logo {
    display: block;
    margin-bottom: 20px;
  }

  .footer-logo-img {
    max-width: 150px;
    transition: transform 0.3s ease;
  }

  .footer-logo-img:hover {
    transform: scale(1.05);
  }

  .footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-item {
    margin-bottom: 10px;
  }

  .footer-social-link {
    margin-right: 15px;
    color: var(--color-1);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }

  .footer-social-link:hover {
    color: var(--main-color);
  }

  .footer-column-links {
    display: flex;
    justify-content: space-between;
  }

  .footer-heading {
    font-family: var(--family-title);
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--color-1);
  }

  .footer-link {
    color: var(--color-1);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
  }

  .footer-link:hover {
    color: var(--main-color);
  }

  .footer-divider {
    border: none;
    border-top: 1px solid var(--color-6);
    margin: 30px 0;
  }

  .footer-bottom {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .footer-bottom-item {
    margin-bottom: 10px;
  }

  .footer-bottom-item a {
    color: var(--color-1);
    text-decoration: none;
    font-size: 14px;
  }

  .footer-bottom-item a:hover {
    color: var(--main-color);
  }
</style>
