<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escuela Tecnica 29</title>



    <link rel="shortcut icon" href="./resources/icons/logo256.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">

    <script src="https://kit.fontawesome.com/de8fe1cee1.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="red">
        <ul>
            <li><a href=""><img src="https://img.icons8.com/fluency/24/null/facebook.png" /></a></li>
            <li><a href=""><img src="https://img.icons8.com/color/24/null/instagram-new--v1.png" /></a></li>
            <li><a href=""><img src="https://img.icons8.com/color/24/null/youtube-play.png" /></a></li>
        </ul>
        <ul>
            <li><a href="">Campus<img src="https://img.icons8.com/color/20/null/graduation-cap.png" /></a></li>
            <li><a href="">Aulas <img src="https://img.icons8.com/color/20/null/google-classroom.png" /></a></li>
        </ul>
    </div>
    <header class="menu">
        <nav class="menu__desk">
            <a href="#">
                <img src="../resources/icons/ln1.png" alt="">
            </a>
            <ul class="menu__options">
                <li>
                    <a href="section/institucion.html">Institucion</a>
                </li>
                <li>
                    <a href="./section/unoCiclo.html">1° Ciclo</a>
                </li>
                <li>
                    <a href="">2° Ciclo +</a>
                </li>
                <li>
                    <a href="#">Novedades</a>
                </li>
                <li>
                    <a href="">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>

    </main>

</body>

</html>