@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-color: #275566;
  --color-1: #234c5b;
  --color-2: #275c76;
  --color-3: #932c2a;
  --color-4: #f2f2f2;
  --color-5: #8d756a;
  --color-6: #a69793;
  --color-7: #3ca4cb;
  --color-8: #f9f9f9;
  --color-9: #000;

  --family-title: "PT Serif", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--color-4);
}

.container-65 {
  max-width: 65%;
  margin: 1rem auto;
}