$color-rojo: #830507;
$color-blanco: #F4F4F4;
$color-negro: #010202;
$color-negrodefuminado: #000000c0;
$color-negcla: #1a1a1a;
$color-celclaro: #79B6D6;
$color-celclafu: #529BBA;
$color-charcoal: #2A4F5E;
$color-gumental: #162930;
